@import "tailwindcss";

/* @theme {
  --color-white: #ffffff;
} */

html {
  background-color: black;
}

body {
  background-color: black;
}

/* #root {
  background: #000;
}

body {
  overflow-x: hidden;
} */

/* Basic generell design for hele nettsiden */

/* 
-buttons
-h1, h2, h3
-paragraphs
- colors

etc..

 */
